{% extends "Base.html" %}

{% block title %}
    Actor
{% endblock %}

{% block page-css %}
    <meta name="viewport" content="width=device-width">
{% endblock %}

{% block page-js %}
    <script src="/static/js/libs/angular.min.js"></script>
    <script src="/static/js/libs/angular-cookies.min.js"></script>
    <script src="/static/js/libs/angular-resource.min.js"></script>
    <script src="/static/js/libs/angular-route.min.js"></script>

    <!-- build:js /angular_apps/js/scripts.js -->
    <script src="/static/js/app/app.js"></script>
    <script src="/static/js/app/controllers/movie_controllers.js"></script>
    <script src="/static/js/app/filters/movie_filters.js"></script>
    <script src="/static/js/app/services/movie_services.js"></script>
    <!-- endbuild -->

{% endblock %}

{% block content %}

<div class="container">
    <div class="container-fluid" style="margin-top: 30px">
        <div class="span4 nav-scroll" style="margin-left: 0">
            <div class="service-picture-frame">
                <img class="service-picture"
                     src="/static/imgs/network.gif"
                     alt="{{ actor.last_name }}">
            </div>
        </div>
        <div class="span8 pull-right nav-button" style="margin-right: 30px">
            <div class="span6">
                <h2>Actor: {{ actor.last_name }}, {{ actor.first_name }}</h2>
            </div>
        </div>

        <div class="span8 pull-right" style="margin-top: 30px;">
            <h4><i class="icon-hand-right"></i>
                Actor ID: {{ actor.actor_id }}
            </h4>
            <h4><i class="icon-hand-right"></i>
                Last Name: {{ actor.last_name }}
            </h4>
            <h4><i class="icon-hand-right"></i>
                First Name: {{ actor.first_name }}
            </h4>
            <h4><i class="icon-hand-right"></i> Actor Information:</h4>
            <p style="padding-left: 30px; padding-right: 30px">
                {{ actor.movie_info }}
            </p>
        </div>
    </div>
</div>

{% endblock %}
