.accordion-group {
    margin: 20px 0;
    border: 1px solid #CACACA;
}

.accordion-heading {
    @include gradient-vertical(#FCFCFC, #EEE);
}

// Give the body a darker background
.accordion-body {
    background-color: #FBFBFB;
}

// Inner needs the styles because you can't animate properly with any styles on the element
.accordion-inner {
    border-top: 1px solid #CACACA;
}

.btn:active, .btn.active {
    border-color: rgba(0, 0, 0, 0.25);
    @extend .btn-primary.active;
}

// Overide the heading sizes

h1 { font-size: $baseFontSize * 2.25; } // ~32px
h2 { font-size: $baseFontSize * 1.75; } // ~24px
h3 { font-size: $baseFontSize * 1.25; } // ~18px
h4 { font-size: $baseFontSize; }

.page-header {
    margin: $baseLineHeight 0 ($baseLineHeight * 0.75);
    padding-bottom: 0;
}

// Overide navbar for active class

.navbar .divider-vertical {
    margin: 0px!important;
}

.navbar .nav > li > a {
    padding: 10px 20px;
}

// Maintain input height

.uneditable-input {
    height: 30px;
    padding: 7px;
}

// Social buttons

.goog-te-menu-frame {
left: calc(50% - 657px / 2)!important;
top: 40px;
left: 40%;
bottom: 80px;
top: auto !important
}

.social {
    margin: 18px auto;
    text-align: center;
}

.icon-facebook-sign {
    color:#3B5998;
}

.icon-twitter {
    color:#1dcaff;
}

.icon-beaker {
    color: #00cc00;
}

.icon-globe {
    color:#c45678;
}
    
input[type=text] {
    height: 30px;
    padding: 7px;
}

// Display the brand logo for the site

.logo {
    padding-right: 4px;
    margin-bottom: -3px;
    position: relative;
    bottom: 2px;
}

// Make Angular show the pointer icon on buttons

[ng-click] {
    cursor: pointer;
}
