//
// Core css
// --------------------------------------------------
$FontAwesomePath: "/static/font" !default;

$btnBorder:                       #ccc;
 
$btnPrimaryBackground:            #0F88A2;

$btnPrimaryBackgroundHighlight:   adjust-hue($btnPrimaryBackground, 20%) !default;

$navbarBackgroundHighlight:       #EEF9FF;

