<div class="container-fluid" style="margin-top: 30px">
    <div class="span4 nav-scroll" style="margin-left: 0">
        <div class="service-picture-frame">
            <img class="service-picture"
                 ng-src="/static/imgs/network.gif"
                 alt="{{ customer.last_name }}">
        </div>
    </div>
    <div class="span8 pull-right nav-button" style="margin-right: 30px">
        <div class="span6" >
            <h2>Customer: {{ customer.last_name }}, {{ customer.first_name }}</h2>
        </div>
    </div>
    <div class="span8 pull-right" style="margin-top: 30px;">
        <h4><i class="icon-hand-right"></i>
            Customer ID: {{ customer.customer_id }}
        </h4>
        <h4><i class="icon-hand-right"></i>
            E-mail: {{ customer.email }}
        </h4>
        <h4><i class="icon-hand-right"></i>
            Address: {{ customer.address_name }}
        </h4>
        <div >
            <h4><i class="icon-hand-right"></i> Details: </h4>
            <ul>
                <li>Home Store: {{customer.store_id}}</li>
                <li>Active: {{customer.active}}</li>
                <li>Create Date: {{customer.create_update}}</li>
                <li>Last Update: {{customer.last_update}}</li>
            </ul>
        </div>
    </div>
</div>