<div class="container-fluid" style="margin-top: 30px">
    <div class="span4 nav-scroll" style="margin-left: 0">
        <div class="service-picture-frame">
            <img class="service-picture"
                 ng-src="/static/imgs/network.gif"
                 alt="{{ movie.title }}">
        </div>
    </div>
    <div class="span8 pull-right nav-button" style="margin-right: 30px">
        <div class="span6" >
            <h2>Movie: {{ movie.title }}</h2>
        </div>
        <div class="pull-right center" style="margin-right: 20px;">
            <h6 style="color: darkred; margin: 0">
                {{ movie.rental_rate | currency:"USD$" }}
            </h6>
            <a class="btn btn-success"
               href="/home">
                Rent Now
            </a>
        </div>
    </div>
    <div class="span8 pull-right" style="margin-top: 30px;">
        <h4><i class="icon-hand-right"></i> Movie ID: {{ movie.film_id }}</h4>
        <h4><i class="icon-hand-right"></i> Inventories:</h4>
        <div style="padding-left: 30px; padding-right: 30px">
            <a ng-repeat="r in movie.inventory_movie"
               href="/inventory/#/detail/{{ r }}">
                {{ r }}
            </a>
        </div>
        <h4><i class="icon-hand-right"></i> Description:</h4>
        <p style="padding-left: 30px; padding-right: 30px">
            {{ movie.description }}
        </p>
        <h4><i class="icon-hand-right"></i> Actors:</h4>
        <p style="padding-left: 30px; padding-right: 30px">
            <span ng-repeat="a in actors"> {{ a }}/ </span>
        </p>
        <div >
            <h4><i class="icon-hand-right"></i> Details: </h4>
            <ul>
                <li>Release Year: {{movie.release_year}}</li>
                <li>Rental Duration: {{movie.rental_duration}} day(s)</li>
                <li>Length: {{movie.length}} minute(s)</li>
                <li>Rental Rate: {{movie.rental_rate | currency:"USD$"}}</li>
                <li>Replacement Cost: {{movie.replacement_cost | currency:"USD$"}}</li>
                <li>Rating: {{movie.rating}}</li>
                <li>Special Features: {{movie.special_features}}</li>
                <li>Language: {{movie.language_name}}</li>
                <li>Original Language: {{movie.original_language_name}}</li>
                <li>Last Update: {{movie.last_update}}</li>
            </ul>
        </div>

        <div>
            <div class="modal-header">
                <h3><i class="icon-hand-right"></i> Inventory Availability</h3>
            </div>
            <div class="modal-body">
                <table ng-repeat="s in stock"
                       class="table table-striped table-bordered">
                    <thead>
                    <tr>
                        <th>{{ s.city }}</th>
                    </tr>
                    <tr>
                        <th>In stock ({{ s.stock.count }})</th>
                        <th>Rented ({{ s.not_stock.count }})</th>
                    </tr>
                    </thead>

                    <tbody>
                        <tr>
                        <td>
                            <p ng-show="s.stock.count==0">No Inventory</p>
                            <a ng-repeat="i in s.stock.inventory_id"
                               href="/inventory/#/detail/{{ i }}">
                                {{ i }}
                            </a>
                        </td>
                        <td>
                            <p ng-show="s.not_stock.count==0">No Inventory</p>
                            <a ng-repeat="i in s.not_stock.inventory_id"
                               href="/inventory/#/detail/{{ i }}">
                                {{ i }}
                            </a>
                        </td>
                        </tr>
                    </tbody>

                </table>
            </div>
        </div>
    </div>
</div>