.observation-title
{
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

.admin-remarks-title,
.teacher-comments-title
{
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}